@use "./variables" as *;

$uzui-nav-menu-border-color: #EEEEEE;
$uzui-nav-menu-white-text-color: #e0e0e0;

.uzui-root {
  min-height: 100vh;
  background-color: $main-bg-color;

  .uzui-mainpage-container {
    padding-bottom: 5rem;

    .uzui-masthead-contents {
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;

      >h2 {
        position: absolute;
        bottom: 1rem;
        font-weight: 700;
        color: white;
        text-shadow: 3px 3px 10px #000000;

        @media (max-width: 900px) {
          font-size: 32;
        }
      }
    }

    /* nav */
    .uzui-nav-bar-container {
      .uzui-nav-bar-item-grid {
        border-bottom: 1px solid $uzui-nav-menu-border-color;
      }
    }

    /* トップコンテンツ コンテナ */
    .uzui-content-container {
      &:not(:first-child) {
        margin-top: 2rem;
      }

      .uzui-container-title-divider {
        margin-bottom: 1rem;
      }

      /* スタッフアイコン */
      .uzui-staff-item-container {}
    }

    /* ニュースグリッド */
    .uzui-news-grid-container {
      flex-grow: 1;
      padding: 2rem;

      .uzui-news-grid-parent {}
    }
  }

  .uzia-subpage-layout-container {
    .uzui-subpage-header-container {
      width: 100%;
      height: 30vh;
      display: block;
      position: relative;
      box-sizing: border-box;

      .uzui-subpage-header-bg-image {
        width: 100%;
        height: 100%;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.7;
          background-color: dimgrey;
        }
      }

      .uzui-subpage-header-title-container {
        position: absolute;
        bottom: 0;
        padding-bottom: 0.5rem;

        >div:first-child {
          margin-bottom: 0.5rem;
        }

        .uzui-subpage-header-title {
          font-size: 1.8rem;
          display: inline;
          border-bottom: 1px solid #EEEEEE;
          color: $uzui-nav-menu-white-text-color;
          font-weight: 400;
        }

        .breadcrumb {
          color: #000000;
          list-style: none;
          line-height: 0.7rem;

          .breadcrumb-link {
            font-size: 0.7rem;
            line-height: 0.7rem;
            font-weight: 100;
          }

          li>svg {
            width: 0.7em;
            height: 0.7em;
            color: $uzui-nav-menu-white-text-color;
          }
        }
      }
    }
  }
}
