$main-font-color: #000;
$main-bg-color: #fafafa;

$container-title-font-size: 46;

$common-footer-bg-color: #f4f4f4;

@mixin container-title {
  font-size: $container-title-font-size;
  font-weight: 400;
  text-align: left;

  @media (max-width: 900px) {
    font-size: 32;
  }
}
